@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

@section Scripts {
	<div>Footer</div>
}

<div style="float: left; width: 200px; background-color: blue;">
    Menü
</div>
<div style="float: right; width: 150px; background-color: yellow;">
    Links
</div>
<div style="margin: 0 250px 0 250px;">
    <div class="text-center">
        <h1 class="display-4">Welcome Homie</h1>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a> und noch ein wenig mehr Text.</p>
</div>

